[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pillow = "*"
scipy = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "2.7"

[scripts]
transform-video = "python transform_video.py"
